
2 year/AOIS/src/MLP/MLP/batches.meta.txt
2 year/AOIS/src/MLP/MLP/data_batch_1.bin
2 year/AOIS/src/MLP/MLP/data_batch_2.bin
2 year/AOIS/src/MLP/MLP/data_batch_3.bin
2 year/AOIS/src/MLP/MLP/data_batch_4.bin
2 year/AOIS/src/MLP/MLP/data_batch_5.bin
2 year/AOIS/src/MLP/MLP/lib_10k.txt
2 year/AOIS/src/MLP/MLP/lib_MNIST_edit.txt
