
2 year/AOIS/src/MLP/MLP/batches.meta.txt
2 year/AOIS/src/MLP/MLP/data_batch_1.bin
2 year/AOIS/src/MLP/MLP/data_batch_2.bin
2 year/AOIS/src/MLP/MLP/data_batch_3.bin
2 year/AOIS/src/MLP/MLP/data_batch_4.bin
2 year/AOIS/src/MLP/MLP/data_batch_5.bin
2 year/AOIS/src/MLP/MLP/lib_10k.txt
2 year/AOIS/src/MLP/MLP/lib_MNIST_edit.txt
2 year/AOIS/src/CNN/CNN/lib_10k.txt
2 year/AOIS/src/CNN/CNN/lib_MNIST_edit.txt
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/f8165b0f5bce91a1/AIPO_1.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/efc0675d2b747dff/KMZI_2.2.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/e9c96e41d552fad0/SHNORDIGITALSIGNATURE.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/e77d8a925fb13105/TEST.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/bcc96ca1d9495ba7/KMZI_2.2.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/b1aa179c77d2a5b/RIPEMD160_HASH.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/b119ab66e0514dfd/AIPO_1_CLIENT.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/b05ad9c1b6c153e0/AIPO_1.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/b000215806fd8a19/KMZI_3.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/ac3c6742eaa53cf2/AIPO_1.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/abd6ce04c428f2e7/AIPO_1.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/a49d4cbc3d5b5ab3/AIPO_1_CLIENT.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/a02843a446ae4cfd/AIPO_1.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/9c37686e8d20805b/SAFECONNECTION.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/81bbb3a1f56e628a/SHNORDIGITALSIGNATURE.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/711dac37bd2f1fb3/AIPO_1.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/6cbe9c6a4cca4dec/TCP.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/62ae87027fdf0b3e/TEST.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/519667dc568627cb/TCP.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/4d27be218893eae0/AIPO_1_CLIENT.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/3d9b9b7b5afbbe63/KMZI_3.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/392cb031283484e9/SAFECONNECTION.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/3718a0b3d897a2e6/AIPO_1_CLIENT.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/23ca998c92ee6bf/KMZI_2.2.ipch
3 year/KMZI/src/kmzi_3/server/.vs/kmzi_3/v17/ipch/AutoPCH/1252e8f1d1d8d191/AIPO_1.ipch
3 year/KMZI/src/kmzi_3/client/kmzi_3_client/.vs/kmzi_3_client/v17/ipch/AutoPCH/fade2397a98c33bc/SHNORDIGITALSIGNATURE.ipch
3 year/KMZI/src/kmzi_3/client/kmzi_3_client/.vs/kmzi_3_client/v17/ipch/AutoPCH/ed15e09e29d236b7/RIPEMD160_HASH.ipch
3 year/KMZI/src/kmzi_3/client/kmzi_3_client/.vs/kmzi_3_client/v17/ipch/AutoPCH/d2e290abbd4ac177/TCP.ipch
3 year/KMZI/src/kmzi_3/client/kmzi_3_client/.vs/kmzi_3_client/v17/ipch/AutoPCH/7b3679c2e7ededf/SAFECONNECTION.ipch
3 year/KMZI/src/kmzi_3/client/kmzi_3_client/.vs/kmzi_3_client/v17/ipch/AutoPCH/138475a401a158a3/KMZI_3_CLIENT.ipch
3 year/PBZ/src/PBZ_7/db.sqlite3
3 year/PBZ/src/PBZ_7/myapp/__pycache__/admin.cpython-312.pyc
3 year/PBZ/src/PBZ_7/myapp/__pycache__/models.cpython-312.pyc
3 year/PBZ/src/PBZ_7/myapp/admin.py
3 year/PBZ/src/PBZ_7/myapp/migrations/0003_match_stadium_team_delete_билеты_delete_клиенты_and_more.py
3 year/PBZ/src/PBZ_7/myapp/migrations/__pycache__/0003_match_stadium_team_delete_билеты_delete_клиенты_and_more.cpython-312.pyc
3 year/PBZ/src/PBZ_7/myapp/models.py
3 year/PBZ/src/PBZ_7/db.sqlite3
3 year/PBZ/src/PBZ_7/myapp/__pycache__/admin.cpython-312.pyc
3 year/PBZ/src/PBZ_7/myapp/__pycache__/models.cpython-312.pyc
3 year/PBZ/src/PBZ_7/myapp/admin.py
3 year/PBZ/src/PBZ_7/myapp/models.py
3 year/PBZ/src/PBZ_7/myapp/models.py
3 year/PBZ/src/PBZ_7/db.sqlite3
3 year/PBZ/src/PBZ_7/myapp/__pycache__/admin.cpython-312.pyc
3 year/PBZ/src/PBZ_7/myapp/__pycache__/models.cpython-312.pyc
3 year/PBZ/src/PBZ_7/myapp/admin.py
3 year/PBZ/src/PBZ_7/myapp/models.py
